html {
  box-sizing: border-box;
  font-family: "Open Sans";
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.div1 {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.img-flex {
  text-align: center;
  display: block;
  width: 100%;
  z-index: 1;
}

body {
  margin: 0;
}

.banner {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  left: 50%;
  bottom: -.5rem;
  text-align: left;
  z-index: 2;
  transform: translateX(-50%);
  flex-direction: column;
  max-width: 50em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

h2 {
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  display: inline;
  font-weight: bold;
}

p {
  font-size: 2rem;
  font-style: italic;
  display: block;
  margin-top: .5rem;
}
