html {
  box-sizing: border-box;
  font-family: "Open Sans";
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  max-height: 500px;
}

.banner {
  display: flex;
  position: relative;
  text-align: center;
  z-index: 2;
  max-width: 50em;
}

h1 {
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

p {
  font-size: 2rem;
  font-style: italic;
}
